.Books {
	width: 400px;
	height: auto;
	vertical-align: top;
	display: inline-block;

	justify-content: space-around; /*neste momento isto não está a fzer nada*/
	border-color: 12px solid green; /*neste momento isto não está a fzer nada*/
	border-style: solid;
	border-width: 10px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 80px;
	background-color: #FFDEAD;
}
.Books p {
	width: 200px;
	margin: 10px auto;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body { 
		background-color: #FFE4B5;
		display: table-cell; /*centrou as imagens e texto*/
		vertical-align: middle;
}
h1	{
		color: blue;
		font-size: 140%;
		text-align: center;
} 
p {
		color: black;
		text-align: justify;
}
button {
		box-sizing: 20px;
		color: white;
		background-color: green;
}
a{
		color: blue;
		text-decoration: none;
		font-size: 18px;
}
img{
		display: block;
		width: 150px;
		height: 225px;
		margin: 0px auto;
}
.right{
	float: right;
}
.left{
	float: left;
}	



